<mat-toolbar class="footerHome" color="primary">
    © MS Technology 2018
  <span class="spacer-foot"></span><span class="spacer-foot"></span><span class="spacer-foot"></span>
  <button mat-button mat-icon-button><img src="./assets/110705_logo_512x512.png" class="img-footer"/></button>
  <button mat-button mat-icon-button><img src="./assets/goole_plus_3.png" class="img-footer"/></button>
  <button mat-button mat-icon-button><img src="./assets/linkedin-icon.png" class="img-footer"/></button>
  <button mat-button mat-icon-button><img src="./assets/twitter.png" class="img-footer"/></button>
  <span class="spacer-foot"></span><span class="spacer-foot"></span>
  <span style=" font-size: 9px;">Copyright@ 2018 MS Technology. All Rights Reserved. <u>Terms of Use</u> | <u>Privacy Policy</u></span>
</mat-toolbar>

