<div class="container-fluid">
<div style="height: 20px;"></div>
<div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About US</h5>
          <p class="card-text">Established in the year 2017, at Angul (Odisha), we, “MS- Technology”, are a leading trader and wholesaler of a comprehensive range of products such as CCTV Surveillance System, Solar Power Panel, Interior Design Accessories, Lamps & Lightings, Computer Hardware Accessories etc. We provide a total solution in terms of Technology. Our offered products are produced at our vendor’s end by making use of excellent grade raw material with the help of sophisticated and modern techniques in compliance with set technical industry norms. We are associated with world-class hardware brand that enabled us to deliver these products to our clients in a flawless manner. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 20px;"></div>
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>