

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-sm-7">
      <div class="product-jumbotron">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8">
              <h4 class="about-jumbotron-title">About Us</h4>
              <p class="about-jumbotron-content">Established in the year 2017, at Angul (Odisha), we, “MS- Technology”,
                are a leading trader and wholesaler of a comprehensive range of products such as CCTV Surveillance System,
                Solar Power Panel, Interior Design Accessories, Lamps & Lightings, Computer Hardware Accessories etc. We
                provide a total solution in terms of Technology.Our offered products are produced at our vendor’s end by
                making use of excellent grade raw material with the help of sophisticated and modern techniques in compliance
                with set technical industry norms. We are associated with world-class hardware brand that enabled us to deliver
                these products to our clients in a flawless manner.</p>
              <p class="about-jumbotron-content">
                  Our offered products are widely used in commercial, residential and corporate places for different purposes. These products
                  are widely appreciated by our clients for their enormous features such as easy to operate, low maintenance, easy
                  to install, low power consumption, long service life, long lasting battery and compact design.</p>
                  <p class="about-jumbotron-content">We have successfully
                  developed good connections with our clients which help us to achieve a distinct position in the market. Our organization
                  lays a foundation and prepares ourselves today in order to take on a challenging tomorrow. Due to our transparent
                  business approach towards our clients, we have earned tremendous success in this industry. We use the best packaging
                  standards to deliver our goods in a safe manner.

              </p>
            </div>
            <div class="col-sm-4">
                <img class="product-group-img" src="/assets/ProfileID.jpeg" alt="Card image cap">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="product-jumbotron">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12"> 
              <h4 class="about-jumbotron-title">Don't Hesitate to Write Us !!!</h4>
              
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="well well-sm">
                              <form>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="name">
                                              Name</label>
                                          <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                      </div>
                                      <div class="form-group">
                                          <label for="email">
                                              Email Address</label>
                                          <div class="input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                              </span>
                                              <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                                      </div>
                                      <div class="form-group">
                                          <label for="email">
                                              Phone</label>
                                          <div class="input-group">
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span>
                                              </span>
                                              <input type="number" class="form-control" id="phone" placeholder="Enter phone number" required="required" /></div>
                                      </div>
                                      
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="name">
                                              Message</label>
                                          <textarea name="message" id="message" class="form-control" rows="8" cols="25" required="required"
                                              placeholder="Message"></textarea>
                                      </div>
                                  </div>
                                  </div>
                                  <div class="row">
                                  <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="subject">
                                          Subject</label>
                                      <select id="subject" name="subject" class="form-control" required="required">
                                          <option value="">* Select an Option</option>
                                          <option value="CCTV">CCTV Surveillances System</option>
                                          <option value="Solar Panel">Solar Power Panel</option>
                                          <option value="Interior Design Accessories">Interior Design Accessories</option>
                                          <option value="Lamps & Lighting System">Lamps & Lighting System</option>
                                          <option value="Computer Hardware & Peripherals">Computer Hardware & Peripherals</option>
                                          <option value="Network Solution">Network Solution</option>
                                          <option value="Wall Painting">Wall Painting</option>
                                          <option value="Electrical Wiring">Electrical Wiring</option>
                                          <option value="Sanitary & Plumbing Works">Sanitary & Plumbing Works</option>
                                          <option value="Glass Aluminum Sliding, Door Fixing">Sanitary & Plumbing Works</option>
                                          <option value="Others">Others</option>
                                      </select>
                                  </div></div>
                                
                                  <div class="col-md-6">
                                      <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                          Send Message</button>
                                  </div>
                              </div>
                              </form>
                          </div>
                      </div>
                      
                  </div>
              </div>
              
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row 2 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="product-jumbotron">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="about-jumbotron-title">Locate Us</h4>
              <div>
                  <iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://maps.google.com/maps?q=Kangula%2CAngul%2COdisha&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    allowfullscreen></iframe>
                </div>
           </div>
           <div class="col-sm-6">
              <div class="container second-portion">
                  <div class="row">
                    <!-- Boxes de Acoes -->
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                      <div class="box">
                        <div class="icon">
                          <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                          <div class="info">
                            <h3 class="product-jumbotron-title">Email Us</h3>
                            <p class="about-jumbotron-content">
                                <i class="fa fa-envelope" aria-hidden="true"></i><u>malayasahu@ms-technology.co.in </u>
                             
                            </p>
    
                          </div>
                        </div>
                        <div class="space"></div>
                      </div>
                    </div>
    
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                      <div class="box">
                        <div class="icon">
                          <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                          <div class="info">
                            <h3 class="product-jumbotron-title">Call Us</h3>
                            <p>
                              <i class="fa fa-mobile" aria-hidden="true"></i>(+91)-9624XXXXX
                              <br>
                            </p>
                          </div>
                        </div>
                        <div class="space"></div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                      <div class="box">
                        <div class="icon">
                          <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                          <div class="info">
                            <h3 class="product-jumbotron-title">Address</h3>
                            <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Kangula Godisahi <br/>Angul - 759132 <br/>Odisha , India<br/>
                          </p>
                          <hr>
                          <p>We are also present at Bangalore, Mumbai, Bhubaneswar</p>
                            
                         
                          </div>
                        </div>
                        <div class="space"></div>
                      </div>
                    </div>
                  </div>
                </div>

           </div>
          </div>
        </div>
      </div>
    </div>
    </div>
 </div>