<!-- <table>
  <tr><td></td></tr>
  <tr>
    <td width="50%">
        Established in the year 2017, at Angul (Odisha), we, “MS-			Technology”, 
        are a leading trader and wholesaler of a comprehensive range of products 
        such as CCTV Surveillance System, Solar Power Panel, Interior Design Accessories,
         Lamps & Lightings, Computer	Hardware Accessories etc. 
We provide a total solution in terms of Technology.  
Our offered products are produced at our vendor’s end by making use of excellent 
grade raw material with the help of sophisticated and modern techniques in compliance with set technical industry norms. We are associated with world-class hardware brand that enabled us to deliver these products to our clients in a flawless manner. Our offered products are widely used in commercial, residential and corporate places for different purposes. These products are widely appreciated by our clients for their enormous features such as easy to operate, low maintenance, easy to install, low power consumption, long service life, long lasting battery and compact design. 
We have successfully developed good connections with our clients which help us to achieve a distinct position in the market. Our organization lays a foundation and prepares ourselves today in order to take on a challenging tomorrow. Due to our transparent business approach towards our clients, we have earned tremendous success in this industry. We use the best packaging standards to deliver our goods in a safe manner.



    </td>
    <td width="50%"><img src="assets/about-us.png"></td>
  </tr>
</table> -->
<mat-grid-list cols="3" rowHeight="4:3">
    <mat-grid-tile [colspan]="2">
      <mat-card>
        <mat-card-title>
          About Us
        </mat-card-title>
        <mat-card-content>
          <p>
              Established in the year 2017, at Angul (Odisha), we, “MS- Technology”, are a leading trader and wholesaler of a comprehensive range of products such as CCTV Surveillance System, Solar Power Panel, Interior Design Accessories, Lamps & Lightings, Computer Hardware Accessories etc. We provide a total solution in terms of Technology. Our offered products are produced at our vendor’s end by making use of excellent grade raw material with the help of sophisticated and modern techniques in compliance with set technical industry norms. We are associated with world-class hardware brand that enabled us to deliver these products to our clients in a flawless manner. 
          </p>
          <p>
              Our offered products are widely used in commercial, residential and corporate places for different purposes. These products are widely appreciated by our clients for their enormous features such as easy to operate, low maintenance, easy to install, low power consumption, long service life, long lasting battery and compact design. We have successfully developed good connections with our clients which help us to achieve a distinct position in the market. Our organization lays a foundation and prepares ourselves today in order to take on a challenging tomorrow. Due to our transparent business approach towards our clients, we have earned tremendous success in this industry. We use the best packaging standards to deliver our goods in a safe manner.
          </p>
        </mat-card-content>
      </mat-card>        
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-card>
        <mat-card-title-group>
            <mat-card-title>
                Locate Us
              </mat-card-title>
              <img width="50px" height="40px" src="assets/locate_us_2.png">
              
        </mat-card-title-group>
        
        <mat-card-content>
          <!--
          <agm-map [latitude]="lat" [longitude]="lng" style="height:200px">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map> -->

          <div class="mapouter"><div class="gmap_canvas">
            <iframe width="400" height="230" id="gmap_canvas" src="https://maps.google.com/maps?q=Kangula%2CAngul%2COdisha&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe></div><style>.mapouter{text-align:center;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style></div>
        </mat-card-content>
      </mat-card>
        
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <mat-card item-width="100%">
        <mat-card-title>
            
        </mat-card-title>
        <mat-card-content>
          <h3>Primary Location</h3>
          <Address><h5>Kangula Godisahi <br/>Angul - 759132 <br/>Odisha , India<br/>
            Email - malayasahu@ms-technology.co.in
            </h5>
          </Address>
          <hr/>
          <h3>We are also present at</h3>
          <h5>Bangalore, Mumbai, Bhubaneswar</h5>
        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
  </mat-grid-list>

