<div class="container-fluid">
    <div class="page-header">
        <h1>CCTV Surveillances System </h1> 
        <!-- <small>Subtext for header</small> -->
      </div>
  <div class="row">
    <!-- product 1 -->
    <div class="col-sm-3" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/cctv_1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <!-- product 2 -->
    <div class="col-sm-3" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/cctv_2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <!-- product 3 -->
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/cctv_3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <!-- product 4 -->
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/cctv_4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Row 2 -->
  <br/>
  <div class="row">
      <!-- product 1 -->
      <div class="col-sm-3" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/cctv_5.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <!-- product 2 -->
      <div class="col-sm-3" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/cctv_6.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <!-- product 3 -->
      <!-- <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/bird2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div> -->
      <!-- product 4 -->
      <!-- <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/bird2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div> -->
    </div>
</div>