<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      <table>
        <tr>
          <td rowspan="3"><img src="/assets/company-logo.png" class="img-icon"/> </td>
        </tr>
        <tr>
            <font class="company-name">MS TECHNOLOGY</font>
        </tr>
        <tr>
            TOTAL BUSINESS SOLUTIONS
        </tr>
      </table>
      </button>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/services">Services</button>
    <button mat-button routerLink="/payments">Payments</button>
    <button mat-button routerLink="/contact">Contact Us</button>
  </mat-toolbar-row>
</mat-toolbar>
