<div>
  <table>
    <tr>
      <td rowspan="3"><img src="/assets/company-logo.png" class="img-heading"/> </td>
    </tr>
    <tr>
        <font class="company-name">MS TECHNOLOGY</font>
    </tr>
    <tr>
        <font class="company-heading">(Total Business Solution)</font>
    </tr>
  </table>
</div>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      
      </button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="/">Home</button>
    <button mat-raised-button color="primary" routerLink="/aboutus">About Us</button>
    <button mat-raised-button color="primary" routerLink="/products">Products</button>
    <button mat-raised-button color="primary" routerLink="/services">Services</button>
    <button mat-raised-button color="primary" routerLink="/payments">Payments</button>
    <button mat-raised-button color="primary" routerLink="/contact">Contact Us</button>
  </mat-toolbar-row>
</mat-toolbar>
