<div class="container-fluid">
  <div class="page-header">
    <h3>Services
      <small>We undertake requests for following categories of services</small>
    </h3>
  </div>
  <br/>
  <div class="row">

    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/cctv-installation-service-250x250.jpg" alt="CCTV Installation">
        <div class="card-body">
          <h5 class="card-title">CCTV Installation Services</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/cctv-camera-repairing-service-500x500.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CCTV Maintenance & Repairing Services</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/solar-panel-installation-service-500x500.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Solar Panel Installation & Services</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/computer-repair-desktop-repair-laptop-repair-250x250.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Laptop, Desktop Repairing & Upgradation</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/the-best-data-recovery-software-of-2018_c32e.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data Recovery</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>

  </div>
  <br/>

  <div class="row">

    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/h-2-h-network-solution-service-500x500.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Network Solution</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/wall_painting.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Wall Painting</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/korte-Electrical-Wiring-.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Electrical Wiring</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/plumbing-works.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sanitary & Plumbing Works</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top" src="/assets/glass_fitting.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Glass Aluminum Sliding, Door Fixing</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    

  </div>


</div>