<div class="container-fluid" style="padding: 1cm">
  <!-- <div class="page-header">
    <h3>Services
      <small>We undertake requests for following categories of services</small>
    </h3>
  </div> -->
  <div class="row">
    <div class="card-deck">
      <!-- <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/cctv_install.png" alt="CCTV Installation">
        <div class="card-body">
          <h5 class="service-subtitle">CCTV Installation Services</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/cctv-camera-repairing-service-500x500.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">CCTV Maintenance & Repairing Services</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/solar-panel-installation-service-500x500.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Solar Panel Installation & Services</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/computer-repair-desktop-repair-laptop-repair-250x250.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Laptop, Desktop Repairing & Upgradation</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/the-best-data-recovery-software-of-2018_c32e.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Data Recovery</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="card-deck">
      <!-- <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/h-2-h-network-solution-service-500x500.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Network Solution</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/wall_painting.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Wall Painting</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/korte-Electrical-Wiring-.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Electrical Wiring</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/plumbing-works.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Sanitary & Plumbing Works</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div>
    <div class="col-sm-2"> -->
      <div class="card">
        <img class="service-image" src="/assets/glass_fitting.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="service-subtitle">Glass Aluminum Sliding, Door Fixing</h5>
          <p class="card-text"></p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>