<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container-fluid">
  <div style="height: 20px;"></div>
  <!-- First row -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-blue">
        <div class="panel-heading">About Us</div>
        <div class="panel-body">
          <p>
            Established in the year 2017, at Angul (Odisha), we, “MS- Technology”, are a leading trader and wholesaler of a comprehensive
            range of products such as CCTV Surveillance System, Solar Power Panel, Interior Design Accessories, Lamps & Lightings,
            Computer Hardware Accessories etc. We provide a total solution in terms of Technology. Our offered products are
            produced at our vendor’s end by making use of excellent grade raw material with the help of sophisticated and
            modern techniques in compliance with set technical industry norms. We are associated with world-class hardware
            brand that enabled us to deliver these products to our clients in a flawless manner.
          </p>
          <br/>
          <p>
            Our offered products are widely used in commercial, residential and corporate places for different purposes. These products
            are widely appreciated by our clients for their enormous features such as easy to operate, low maintenance, easy
            to install, low power consumption, long service life, long lasting battery and compact design. We have successfully
            developed good connections with our clients which help us to achieve a distinct position in the market. Our organization
            lays a foundation and prepares ourselves today in order to take on a challenging tomorrow. Due to our transparent
            business approach towards our clients, we have earned tremendous success in this industry. We use the best packaging
            standards to deliver our goods in a safe manner.
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="panel panel-blue">
        <div class="panel-heading">Contact Us</div>
        <div class="panel-body">
          <form id="contact" action="" method="post">

            <fieldset>
              <input placeholder="* Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
              <input placeholder="Your Email Address (optional)" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
              <input placeholder="* Your Phone Number" type="tel" tabindex="3" pattern="[0-9]{10}" required>
            </fieldset>
            <fieldset>
              <!-- <input placeholder="Your Phone Number " type=SEL tabindex="3" required> -->
              <select class="fieldset" tabindex="4" required>
                <option value="">* Select an Option</option>
                <option value="CCTV">CCTV Surveillances System</option>
                <option value="Solar Panel">Solar Power Panel</option>
                <option value="Interior Design Accessories">Interior Design Accessories</option>
                <option value="Lamps & Lighting System">Lamps & Lighting System</option>
                <option value="Computer Hardware & Peripherals">Computer Hardware & Peripherals</option>
                <option value="Network Solution">Network Solution</option>
                <option value="Wall Painting">Wall Painting</option>
                <option value="Electrical Wiring">Electrical Wiring</option>
                <option value="Sanitary & Plumbing Works">Sanitary & Plumbing Works</option>
                <option value="Glass Aluminum Sliding, Door Fixing">Sanitary & Plumbing Works</option>
                <option value="Others">Others</option>
              </select>
            </fieldset>

            <fieldset>
              <textarea placeholder="* Type your message here...." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
            <p class="copyright">* Fields are mandatory</p>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- Second Row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-blue">
        <div class="panel-heading">Locate Us</div>
        <div class="panel-body">
          <div class="col-sm-5">
            <div>
              <iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://maps.google.com/maps?q=Kangula%2CAngul%2COdisha&t=&z=13&ie=UTF8&iwloc=&output=embed"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="container second-portion">
              <div class="row">
                <!-- Boxes de Acoes -->
                <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">
                    <div class="icon">
                      <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div><br>
                      <div class="info">
                        <h3 class="title">Email Us</h3>
                        <p>
                          <i class="fa fa-envelope" aria-hidden="true"></i><u> malayasahu@ms-technology.co.in </u>
                          <br>
                        </p>

                      </div>
                    </div>
                    <div class="space"></div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">
                    <div class="icon">
                      <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div><br>
                      <div class="info">
                        <h3 class="title">Call Us</h3>
                        <p>
                          <i class="fa fa-mobile" aria-hidden="true"></i>(+91)-9624XXXXX
                          <br>
                        </p>
                      </div>
                    </div>
                    <div class="space"></div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">
                    <div class="icon">
                      <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div><br>
                      <div class="info">
                        <h3 class="title">Address</h3>
                        <Address>Kangula Godisahi <br/>Angul - 759132 <br/>Odisha , India<br/></Address>
                        We are also present at Bangalore, Mumbai, Bhubaneswar
                      </div>
                    </div>
                    <div class="space"></div>
                  </div>
                </div>
                <!-- /Boxes de Acoes -->

                <!--My Portfolio  dont Copy this -->

              </div>
            </div>
          </div>
          <!-- <div class="col-sm-3">3rd Col</div> -->
          <!-- <div class="col-sm-3">4th Col</div> -->
        </div>
      </div>
    </div>
  </div>
</div>