<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://unpkg.com/core-js@^2.4.1/client/shim.js"></script>
    <script src="https://unpkg.com/zone.js@^0.8.25/dist/zone.js"></script>
    <script src="https://unpkg.com/zone.js@^0.8.25/dist/long-stack-trace-zone.js"></script>
    <script src="https://unpkg.com/reflect-metadata@^0.1.8/Reflect.js"></script>
    <script src="https://unpkg.com/systemjs@^0.19.40/dist/system.js"></script>
    <script src="config.js"></script>
    <script>
    System.import('app').catch(console.error.bind(console));
</script>
<!-- <div class="grid-container"> -->
  <mat-grid-list cols="3" rows="1" rowHeight="1:1">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card-2">
        <!--<mat-card-header>
          
        </mat-card-header>    -->
        <mat-card-content class="dashboard-card-content">
            <!--<div>Card Content Here</div>-->
            <ngbd-carousel-basic>Loading carousel...</ngbd-carousel-basic>
          </mat-card-content>   
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>  
<!-- </div> -->

<!--
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  -->